.contactContainer {
    grid-area: 3/2/6/12;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 2em;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.separatorLine {
    width: 100px;
    margin: 2em;
    height: 5px;
    background-color: var(--white);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.infoFormCotainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 4em;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.formContainer {
    font-size: 1.2em;
    width: 60%;
}

.input {
    background-color: unset;
    border: unset;
    border-bottom: 0.1em solid var(--white);
    font-size: 1em;
}

.sendButton {
    background-color: var(--dark-blue);
    border: none;
    padding: 1em 2em;
    margin: 1em 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 1em;
}

@media (max-width: 705px) {
    .infoContainer {
        align-self: center;
    }

    .separatorLine {
        margin-bottom: 0;
    }

    .contactContainer {
        grid-area: 3/2/6/11;
    }

    .infoFormCotainer {
        flex-direction: column;
    }

    .formContainer {
        width: 100%;
        margin-top: 2em;
    }
}

@media (max-width: 593px) {
    .contactContainer {
        grid-area: 3 / 2 / 6 / 10;
    }
}

@media (max-width: 538px) {
    .contactContainer {
        grid-area: 3/2/6/9;
    }
}

@media (max-width: 492px) {
    .contactContainer {
        grid-area: 3/1/6/7;
    }
}
@media (max-width: 427px) {
    .contactContainer {
        grid-area: 3/1/6/8;
        align-items: center;
    }
}